* {
  margin: 0px;
  padding: 0px;
  font-family: "Gayathri";
}
body,
html {
  padding-top: 0;
  background: #002a5c;
  background-position: cover;
}
.navbar-brand {
  background-image: #ffffff;
  position: left;
}
.menu-bar {
  background-image: #002a5c;
}
.nav-link {
  font-size: 20px;
  margin: 3px;
  color: #002a5c !important;
  font-weight: 500;
}
.navbar.nav {
  text-align: right;
  margin-right: 20px;
}
.menu-bar .navbar-togger {
  padding-right: 20px;
  outline: none !important;
  border: none !important;
}
.navbar .fa {
  color: #002a5c;
  font-size: 26px;
}
.nav-link:hover {
  font-weight: 600;
  border-bottom: 1px solid #002a5c;
}
.navbar-brand img {
  width: 350px;
  margin-top: 10px;
  margin-left: 30px;
}
@media only screen and (max-width: 1000px) {
  .nav-link:hover {
    border-bottom: none !important;
  }
}
body {
  margin: 0;
  padding: 0;
  background: #7ac142;
}
search-box {
  position: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background: #7ac142;
  border-radius: 40px;
  padding: 10px;
}
.search-btn {
  color: #7ac142;
  float: right;
  width: 27px;
  height: 30px;
  border-radius: 50%;
  background: #7ac142;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  color: #002a5c;
  font-size: 16px;
  transition: 0.4s;
}
